/bittt.py
/C1.PY
/game.py
/game10.py
/game2.py
/game3.py
/game4.py
/game5.py
/game6.py
/game7.py
/game8.py
/game9.py
/jija.py
/jijjaaa.py
/pinky.py
/q1.py
/q2.py
/q3.py
/q4.py
/q5.py
/t1.py
/t10.py
/t2.py
/t3.py
/t4.py
/t5.py
/t6.py
/t7.py
/t8.py
/t9.py
/tasks.json
/tasks.txt
/to.py